@{
  Layout = "_Layout";
}


<h2>Create an Account with <br> Pierre's Treats!</h2>
<hr />

<p style="color: red;">Account Already Exists!</p>

<p>@Html.ActionLink("Register", "Register")</p>
<p>@Html.ActionLink("Log in", "Login")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>