@{
  Layout = "_Treats";
}

@model Bakery.Models.Treat

<h2>Are you sure you want to delete this Treat?</h2>
<hr />
<h3 style="text-transform: capitalize;">@Html.Label("Treat"): @Html.DisplayFor(model => model.TreatName)</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-default" />
}
<hr />
<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>