@{
  Layout = "_Treats";
}

@using Bakery.Models;
@model List<Bakery.Models.Treat>;

<h2>Filter By Ingredient</h2>
<hr />

@using (Html.BeginForm())
{
  <form asp-controller="TreatsController" asp-action="SearchBy" method="get">
      <p>
          Ingredients: <input type="text" name="searchString" />
          <input type="submit" value="Filter" />
      </p>
  </form>
}
<hr />
@foreach(Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.TreatName}", "Details", "Treats", new { id = treat.TreatId })</li>
}