@{
  Layout = "_Flavors";
}

@model Bakery.Models.Flavor

<h2>Are you sure you want to delete this Flavor?</h2>
<hr />
<h3 style="text-transform: capitalize;">@Html.Label("Flavor"): @Html.DisplayFor(model => model.FlavorName)</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-default"/>
}
<hr />
<p>@Html.ActionLink("Back To Flavor List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>