@{
  Layout = "_Layout";
}

@using Bakery.Models;
@model List<Bakery.Models.Flavor>;


@using (Html.BeginForm())
{
  <form asp-controller="FlavorsController" asp-action="SearchBy" method="get">
      <p>
          Description: <input type="text" name="searchString" />
          <input type="submit" value="Filter" />
      </p>
  </form>
}
<hr />
@foreach(Flavor flavor in Model)
{
  <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", "Flavors", new { id = flavor.FlavorId })</li>
}









